
@{
    ViewBag.Title = "count";
}

<h2>計數器</h2>
<form method="post">
    <p>
        <span>@ViewBag.count</span>
        <input type="hidden" name="kk" value="@ViewBag.count" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  value="+1" class="btn btn-default" />
            </div>
        </div>
    </p>
</form>

