
@{
    ViewBag.Title = "sumDemo";
}

<h2>sumDemo</h2>
<form method="post">
    <p>
        輸入數字：
    </p>
    <p>
        <input type="text" name="txtA" />+<input type="text" name="txtB" />=
        <span>@ViewBag.result</span>
    </p>
    <p>
    <input type="submit" value="OK" />
    </p>
    
 </form>

