
@{
    ViewBag.Title = "fileUploadDemo";
}

<h2>fileUploadDemo</h2>
<form enctype="multipart/form-data" method="post">
    <p>
        <input name="txtPhoto" type="file" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="上傳" class="btn btn-default" />
            </div>
        </div>
    </p>
</form>

